<h1>Course #<%= @course.id %></h1>

<p>
  <b>Department:</b>
  <%= @course.department %>
</p>

<p>
  <b>Number:</b>
  <%= @course.number %>
</p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>


<p>
<table>
  <thead>All Meetings:
    <tr>
      <th>Held on</th>
      <th>Course ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting.each do |meeting| %>
    <tr>
      <td><%= meeting.held_on %></td>
      <td><%= meeting.course_id %></td>

    </tr>
  <% end %>
  </tbody>
</table>



</p>


    



